# root folders
Saves/
downloads/
journeymap/
local/
logs/
backups/

# root files
.curseclient
patchouli_data.json
rhino.local.properties
options.txt
usercache.json
usernamecache.json

# dev configs
config/jei/jei-client.ini
backups/backups.json
config/sidebar_buttons.json
config/ftbbackups2.json
config/contentcreatorintegration/default/
config/contentcreatorintegration/contentcreatorintegration.toml
config/jei/
config/oculis.properties
config/skyblockbuilder/data/
fancymenu_data/