# root folders
Saves/
downloads/
journeymap/
local/
logs/

# root files
.curseclient
patchouli_data.json
rhino.local.properties
options.txt
usercache.json
usernamecache.json
minecraftinstance.json

# dev configs
config/jei/jei-client.ini
